<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cau.cn.pondwarning.dao.localdb.DevHisDataMapper">

    <sql id="selectFields1">
        hisid, wdevid,collectTime,dox, thw, ec, ph, ad,zd, yw, yls
    </sql>

    <sql id="selectFields2">
        hisid,collectTime,dox
    </sql>

    <sql id="insertFields">
        hisid, wdevid,collectTime,dox, thw, ec, ph, ad,zd, yw, yls
    </sql>

    <insert id="insertDevHisData" parameterType="DevHisData">
        insert into iot_devhisdata (<include refid="insertFields"></include>)
        values(#{hisid},#{wdevid}, #{collectTime}, #{dox}, #{thw}, #{ec}, #{ph}, #{ad}, #{zd}, #{yw}, #{yls})
    </insert>

    <select id="selectDevHisDatas" resultType="DevHisData">
        select <include refid="selectFields1"></include>
        from iot_devhisdata
        where wdevid = #{wdevid}
        order by collectTime DESC
        limit #{offset}, #{limit}
    </select>

    <select id="selectTotalData" resultType="Integer">
        select count(wdevid)
        from iot_devhisdata
        where wdevid = #{wdevid}
    </select>

    <select id="selectDevHisDatasLimit" resultType="DevHisData">
        select <include refid="selectFields2"></include>
        from
        (select * from iot_devhisdata where wdevid = #{wdevid}
        order by collectTime DESC limit 0, 144) sub
        ORDER BY collectTime ASC
    </select>

    <select id="selectDevHisDatasLimitByDynamic" parameterType="String" resultType="DevHisData">
        ${sqlStr}
    </select>


    <select id="selectDevHisDatasDesc" resultType="DevHisData">
        select * from iot_devhisdata where wdevid = #{wdevid}
        order by collectTime DESC limit 0, 144
    </select>

</mapper>